@import './mixins';

.site-category {
  position: relative;

  width: 100%;
  padding: {
    top: rem(20);
    left: rem(15);
    right: rem(15);
  }

  font-size: 1em;
  text-align: center;
  box-sizing: border-box;

  .category-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .category-item {
      flex: 1 1 30%;
      margin: 0 rem(10) rem(20);
      height: rem(122);
      line-height: rem(122);
      border-radius: 20px;
    }
  }
}

