* {
  box-sizing: inherit; /* 增加box-sizing的灵活性  */
}

*:before, *:after {
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0 none;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

em, strong {
  font-style: normal;
}

ul, ol, li {
  list-style: none;
}

body {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
    line-height: 1.5;
    color: #333;
    font-size: 0.24rem;
}

a {
  text-decoration: none;
}

.clearfix {
  display: block;
}
.clearfix::after {
  display: block;
  content: '';
  height:0;
  clear: both;
  overflow: hidden;
}

.fl {
  float: left;
}
.fr {
  float: right;
}


.btn {
  display: block;
  padding: 16px 0;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  border-radius: 10px;
}

.btn--green {
  background-color: #68cb78;
  color: #fff;
}

.btn--long {
  width: 100%;
}
