@charset "utf-8";
@import "mixins";

.cart-product {
  position: relative;
  width: auto;
  height: auto;
  margin-bottom: rem(25);

  text-align: left;
  font-size: 100%;

  border: 2px solid #f9f9f9;

  background-color: #fff;

  & > div:not(:last-child),
  & .product-wrapper > div:not(:last-child) {
    border-bottom: 1px solid #c9c9c9;
  }

  // 右上角选择按钮
  .select-product {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;

    display: block;;
    width: rem(60);
    height: rem(60);

    line-height: rem(60);
    color: #9b9b9b;

    border: none;
    background-color: #f0f0f0;

    i {
      font-size: 2em;
      color: #fff;
    }
  }

  // 移除按钮
  .remove-product {
    padding: rem(30) 0;
    height: rem(64);
    width: 100%;

    line-height: rem(64);

    .btn-remove {
      display: inline-block;
      width: 100%;

      color: #fff;
      background-color: #fc0000;
      border: none;
      border-radius: 0;

    }
  }
}

.product-wrapper {
  position: relative;
  padding: rem(10);

  // 商品信息--图片，标题
  .info-basic {
    display: flex;
    width: 100%;

    &::after {
      display: block;
      content: '';
      height: 0;
      clear: both;
      overflow: hidden;
    }
  }
  .info {
    width: 100%;
    overflow: hidden;

    .product-img {
      float: left;
      display: block;
      width: rem(120);
      height: rem(120);

      img {
        width: 100%;
        height: 100%;
        vertical-align: top;
      }
    }

    .title {
      float: left;
      padding-top: rem(10);
      margin-left: rem(10);
      margin-right: rem(60);
      font-size: 90%;
      color: #666;

      a {
        display: inline-block;
      }
    }

    .info-additional {
      width: 100%;
      height: rem(42);
      padding: rem(30) 0;
      font-size: 90%;
      color: #9b9b9b;

      .price {
        margin-left: 1em;
        color: #fc0000;
      }
    }
  }

  // 商品数量
  .amounts {
    padding: rem(30) 0;
    height: rem(64);

    span {
      float: left;
      margin-top: 10px;
    }

    .choose-amount {
      float: left;
      height: 100%;
      margin-left: 2em;

      box-sizing: border-box;

      i {
        display: inline-block;
        float: left;
        margin-top: rem(2);

        color: #68cb78;
        font-size: 300%;
        line-height: rem(56);
      }

      input {
        display: inline-block;
        float: left;
        height: 100%;
        width: rem(110);
        margin: 0 1em;

        font-size: 120%;
        font-weight: 700;
        color: #333;
        text-align: center;

        border: none;
        border-radius: rem(50);
        background-color: #c8c8c8;

        &:focus {
          outline: none;
        }
      }
    }
  }

  // 商品价格
  .price {
    padding: rem(30) 0;
    height: rem(64);

    line-height: rem(64);

    span {
      margin-top: rem(10);
      font-size: 120%;
    }

    .current-price {
      margin-right: 1em;
      color: #fc0000;
    }
    .market-price {
      color: #c8c8c8;
      text-decoration: line-through;
    }


  }
}

[data-dpr='2'] .cart-product {
  font-size: 28px;
}



